head{background-color: white;}
h1 {font-family: 'Ubuntu', sans-serif;text-align: center;}
h2{font-family: 'Ubuntu', sans-serif;text-align: center;}
body{background-color: #BCC6CC;border: 10px solid white;margin: 50px;}
p{}